<?xml version="1.0"?>
<launch>
  <arg name="addr" default="" />
  <arg name="use_standard_msgs" default="false" />
  <arg name="autorepeat_rate" default="0" if="$(arg use_standard_msgs)" />
  <node pkg="ds4_driver" type="ds4_driver_node.py" name="ds4_driver" output="screen" >
    <rosparam command="load" file="$(find ds4_driver)/config/params.yaml" />
    <param name="device_addr" value="$(arg addr)" />
    <param name="use_standard_msgs" value="$(arg use_standard_msgs)" />
    <param name="autorepeat_rate" value="$(arg autorepeat_rate)" if="$(arg use_standard_msgs)" />
  </node>

  <node pkg="jetbot_ds4_manual" type="jetbot_ds4_manual_controller" name="manual_read_control"/>
  <node pkg="jetbot_ros" type="jetbot_motors.py" name="jetbot_motors"/>
</launch>
